<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
    <ion-item>
      <ion-label>Product Name : </ion-label>
      <ion-input type="text" required [(ngModel)]="products.title" ngControl="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description : </ion-label>
      <ion-textarea [(ngModel)]="products.description" ngControl="description"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Add Product</button>
  </form> -->
</ion-content>
