<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registration Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list>

    <ion-item>
      <ion-label stacked>Username: </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email: </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Password: </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  
  </ion-list>
  <ion-button type="Submit">Submit</ion-button>
</ion-content>
